h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 25px;
    color: #0277bd; /* Dark blue text */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px; /* Margin for spacing */
    padding: 10px;
}